*{
    color: #333;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

tr:hover{
    background-color: #dfdfdf;
}

a:link{
    color: rgb(94, 154, 245);
}

a:visited{
    color: rgb(31, 160, 100);
}

img{
    float: left;
}

.desc{
    width: 100%;
}

.movie{
    width: 100%;
    display: block;
    clear: both;
}